# 1. Manipulate using a list.

    i) To add new elements to the end of the list

    ii) To reverse elements in the list

    iii) To display the same list of elements multiple times.

    iv) To concatenate two list

    v) To sort the elements in the list in ascending order.

In [13]:
lst=[2,22,'Abhi']
lst

[2, 22, 'Abhi']

In [14]:
#i) To add new elements to the end of the list

# append is used to add single element at the end of the list
lst.append('Das')  
    
# Extend is used to add multiple element at the end of the list individually at a time
lst.extend([3,33])
    
print('After Adding List becomes: ',lst)

After Adding List becomes:  [2, 22, 'Abhi', 'Das', 3, 33]

In [15]:
# ii) To reverse elements in the list
lst.reverse()

print('After Reversing the List becomes: ',lst)

After Reversing the List becomes:  [33, 3, 'Das', 'Abhi', 22, 2]

In [18]:
# iii) To display the same list of elements multiple times.
mullst= lst*2
print('multiple list is: ',mullst)

multiple list is:  [33, 3, 'Das', 'Abhi', 22, 2, 33, 3, 'Das', 'Abhi', 22, 2]

In [31]:
# iv) To concatenate two list
l1=['mango','apple']
l2=['guava','pine-apple']
l3= l1+l2
print("Concatenation of l1 and l2: ",l3)

Concatenation of l1 and l2:  ['mango', 'apple', 'guava', 'pine-apple']

In [38]:
# To sort the elements in the list in ascending order.
l3  # string elements
l3.sort()
print("After Sorting l3 in ascending order: ",l3)

l4=[15,5,3,2,8,55,90,65,63.5]  # integer elements
l4.sort()
print("After Sorting l4 in ascending order: ",l4)

After Sorting l3 in ascending order:  ['apple', 'guava', 'mango', 'pine-apple']
After Sorting l4 in ascending order:  [2, 3, 5, 8, 15, 55, 63.5, 65, 90]

# 2. Write a Python program to do in the tuples.

    i) Manipulate using tuples.

    ii) To add new elements to the end of the tuples

    iii) To reverse elements in the list

    iv) To display the elements of the same tuple multiple times.

    v) To concatenate two tuples 
    
    vi)To sort the elements in the list in ascending order.

In [39]:
tup = ("guava", "banana", "strawberry", "apple", "pine-apple")
tup

('guava', 'banana', 'strawberry', 'apple', 'pine-apple')

In [48]:
# i) Manipulate using tuples.
# for manipulating the tuple we need to covert it into list, cause tuple is immutable
tuplist= list(tup)

tuplist  # now we can make chnges with the tuple element through tuplist and convert it back to tuple.

['guava', 'banana', 'strawberry', 'apple', 'pine-apple']

In [49]:
#  ii) To add new elements to the end of the tuples
tuplist.append('orange')

print("Adding element to the end of tuple: ",tuplist)

Adding element to the end of tuple:  ['guava', 'banana', 'strawberry', 'apple', 'pine-apple', 'orange']

In [52]:
# iii) To reverse elements in the list

tuplist.reverse()
print("Reversing elements in the list: ",tuplist)

Reversing elements in the list:  ['orange', 'pine-apple', 'apple', 'strawberry', 'banana', 'guava']

In [56]:
# iv) To display the elements of the same tuple multiple times.
multuplist= tuplist*3

print("Displaying Multiple Times: ",multuplist)

Displaying Multiple Times:  ['orange', 'pine-apple', 'apple', 'strawberry', 'banana', 'guava', 'orange', 'pine-apple', 'apple', 'strawberry', 'banana', 'guava', 'orange', 'pine-apple', 'apple', 'strawberry', 'banana', 'guava']

In [162]:
# v) To concatenate two tuples To sort the elements in the list in ascending order.
ftup =("guava", "banana", "strawberry")
stup =("cherry","grapes")
ctup = ftup+stup

print("Concatenate tuples in ascending order: ", ctup)

Concatenate tuples in ascending order:  ('guava', 'banana', 'strawberry', 'cherry', 'grapes')

In [ ]:
# vi)To sort the elements in the list in ascending order.

asclist= list(ctup)
asclist.sort() # sorting in ascending order
print("Ascending order in list: ",asclist)

# 3. Write a python program to implement the following using list.

        i) Create a list with integers (minimum 10 numbers)

        ii) How to display the last number in the list

        iii) Command for displaying the values from the list [0:4]

        iv) Command for displaying the values from the list [2:]

        v) Command for displaying the values from the list [:6]

In [63]:
# i) Create a list with integers (minimum 10 numbers)
ilst=[3,4,6,8,1,2,9,14,32,44]
ilst

[3, 4, 6, 8, 1, 2, 9, 14, 32, 44]

In [70]:
# ii) How to display the last number in the list
lengthl = len(ilst)
print("Last number in the list is: ",ilst[lengthl-1])

Last number in the list is:  44

In [73]:
# iii) Command for displaying the values from the list [0:4]
print('Original List is: ',ilst)
print("displaying the values from the list [0:4] is: ",ilst[0:4]) # it displays from the start idx 0 to end index 3 ( which is 4-1)

Original List is:  [3, 4, 6, 8, 1, 2, 9, 14, 32, 44]
displaying the values from the list [0:4] is:  [3, 4, 6, 8]

In [75]:
# iv) Command for displaying the values from the list [2:]
print('Original List is: ',ilst)
print("displaying the values from the list [2:] is: ",ilst[2:]) # it displays from the start idx 2 to till the end of the list

Original List is:  [3, 4, 6, 8, 1, 2, 9, 14, 32, 44]
displaying the values from the list [2:] is:  [6, 8, 1, 2, 9, 14, 32, 44]

In [ ]:
# v) Command for displaying the values from the list [:6]
print('Original List is: ',ilst)
print("displaying the values from the list [2:] is: ",ilst[:6]) # it displays from the start idx (default) to end idx 5(which is 6-1)

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

    i. To display the elements 10 and 50 from tuple1

    ii. To display the length of a tuple1.

    To find the minimum element from tuple1.

    iv. To add all elements in the tuple1.

    V. To display the same tuple1 multiple times.

In [80]:
# i) To display the elements 10 and 50 from tuple1
tuple1 = (10,50,20,40,30)
tuple1[:2]

(10, 50)

In [82]:
# ii) To display the length of a tuple1.
ltup= len(tuple1)
print("Length of tuple1 is: ",ltup)

Length of tuple1 is:  5

In [85]:
# iii) To find the minimum element from tuple1.
print('Original Tuple is: ',tuple1)
minvaltup= min(tuple1)
print("Minimum element from tuple1 is: ", minvaltup)

Original Tuple is:  (10, 50, 20, 40, 30)
Minimum element from tuple1 is:  10

In [ ]:
# iv) To add all elements in the tuple1.
print('Original Tuple is: ',tuple1)
sumtup= sum(tuple1)
print("sum of all element from tuple1 is: ", sumtup)

In [ ]:
# V) To display the same tuple1 multiple times.
print('Original Tuple is: ',tuple1)
multup= tuple1 *3
print('Displaying Multiple times the tuple is: ',multup     )

# 5. Write a Python program:
    
    i) To calculate the length of a string
    
    ii) To reverse words in a string
    
    iii) To display the same string multiple times
    
    iv) To concatenate two strings
    
    v) Stri=" South India", using string slicing to display "India"

In [102]:
#  i) To calculate the length of a string
name="python"
ctr = 0   # c is a counter
for c in name: # traverse the string 
    ctr+=1 #increment the counter
    
print ("Length of the string \"python\" is: ",ctr) # displays the length (6) of the string “python”

Length of the string "python" is:  6

In [115]:
# ii) To reverse words in a string
inp_string = "This is Abhiseks Program"
words = inp_string.split()
rev_words = list(reversed(words))
rev_string = ' '

for c in rev_words: # traverse the string 
        rev_string = rev_string+ " "+c
        
print (rev_string)

  Program Abhiseks is This

In [119]:
#  iii) To display the same string multiple times
inp_string = input("Enter your string: ")
ntimes = int(input("Enter the number of times to display the string: "))
final_string = inp_string * ntimes
print("String displayed ", ntimes, " times: ", final_string,)

Enter your string: abhi
Enter the number of times to display the string: 3
String displayed  3  times: 		 abhiabhiabhi

In [121]:
#  iv) To concatenate two strings
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")
concatenated_string = str1 +" "+ str2
print("Concatenated String: ", concatenated_string)

Enter the first string: abhi
Enter the second string: das
Concatenated String (Method 1): abhi das

In [122]:
#  V) Stri=" South India", using string slicing to display "India"
Stri = "South India"
result = Stri[-5:]
print("Result:", result)

Result: India

# 6. Perform the following:
    
    i) Creating the Dictionary.

    ii) Accessing values and keys in the Dictionary.

    iii) Updating the dictionary using a function.

    iv) Clear and delete the dictionary values

In [123]:
#     i) Creating the Dictionary.
details = {'name': 'Abhisek', 'age': 25, 'location': 'Odisha'}
print(details)

{'name': 'Abhisek', 'age': 25, 'location': 'Odisha'}

In [126]:
#    ii) Accessing values and keys in the Dictionary.
for key, value in details.items():
    print(key,":", value)

name : Abhisek
age : 25
location : Odisha

In [130]:
#   iii) Updating the dictionary using a function.
details.update({"department":"IT"})
print(details)

{'name': 'Abhisek', 'age': 25, 'location': 'Odisha', 'department': 'IT'}

In [134]:
#     iv) Clear and delete the dictionary values
details.clear()
print(details)
del details
print(details)

NameError: name 'details' is not defined

# 7. Python program to insert a number to any position in a list.

In [151]:
listnum=[1,2,3,4,6,7,8]

listnum.insert(4,5)
print("After Inserting: ",listnum)

After Inserting:  [1, 2, 3, 4, 5, 6, 7, 8]

# 8. Python program to delete an element from a list by index.

In [153]:
print(listnum)
print("Delete element at Index 4: ",listnum.pop(4))
print(listnum)

[1, 2, 3, 4, 5, 6, 7, 8]
Delete element at Index 4:  5
[1, 2, 3, 4, 6, 7, 8]

# 9. Write a program to display a number from 1 to 100.

In [157]:
number = 1
while number <= 100:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple.

In [160]:
tupl=(1,2,3,4,5)
sum=0
for i in tupl:
    sum+=i
print("Sum of all items in a tuple:",sum)

Sum of all items in a tuple: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root.

    i)  E.g. dict=('Square': function for squaring, 'Cube': function for cube, 'Squareroot':function for square root}

    ii) Pass the values (input from the user) to the functions in the dictionary respectively.

    iii) Then add the outputs of each function and print it.

In [94]:
# i)
dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Squareroot': lambda x: x ** 0.5
}
# ii)
x= int(input("Enter value of x: "))

square_result = dict['Square'](x)
cube_result = dict['Cube'](x)
squareroot_result = dict['Squareroot'](x)

adding = square_result + cube_result + squareroot_result

print(adding)

Enter value of x: 4
82.0

In [ ]:


square_result = dict['Square'](x)
cube_result = dict['Cube'](x)
square_root_result = dict['Squareroot'](x)

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls=['hello', 'Dear', 'hOw', 'ARe', 'You']

In [124]:
ls=['hello', 'Dear', 'hOw', 'ARe', 'You']
ls

for i in ls:
    if i[1]==i[1].upper():
           print(i)

hOw
ARe

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth * GMoon) / GEarth

i) #Weight of people in kg
    WeightOnEarth = ('John':45, 'Shelly':65, 'Marry':35 

ii) #Gravitational force on the Moon: 1.622 m/s2
      GMoon = 1.622

iii) #Gravitational force on the Earth: 9.81 m/s2
      GEarth 9.81

In [102]:
# Weight of people on Earth in kg
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Gravitational force on the Moon: 1.622 m/s^2
GMoon = 1.622

# Gravitational force on the Earth: 9.81 m/s^2
GEarth = 9.81

# Initialize an empty dictionary for WeightOnMoon
WeightOnMoon = {}

# Use map and lambda to calculate weights on the moon and populate WeightOnMoon
for person, weight in map(lambda person_weight: (person_weight[0], (person_weight[1] * GMoon) / GEarth), WeightOnEarth.items()):
    WeightOnMoon[person] = weight

# Print the weights on the moon
for person, weight_moon in WeightOnMoon.items():
    print(f"{person}'s weight on the moon: {weight_moon:.2f} kg")

John's weight on the moon: 7.44 kg
Shelly's weight on the moon: 10.75 kg
Marry's weight on the moon: 5.79 kg

# Control Structures:

In [103]:
# 1. Write a python program to find the first N Prime numbers.

N = int(input("Enter the value of N: "))
prime_nos = []

num = 2
while len(prime_nos) < N:
    is_prime = True
    for i in range(2, int(num**(1/2)) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_nos.append(num)
    num += 1

print(f"The first {N} prime numbers are: {prime_nos}")

Enter the value of N: 5
The first 5 prime numbers are: [2, 3, 5, 7, 11]

In [6]:
# 2. Write the python code that calculates the salary of an employee. 
# Prompt the user to enter the Basic Salary, HRA, TA, and DA. 
# Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate the Gross Salary
gross_salary = basic_salary + hra + ta + da

# Calculate tax (10% of Gross Salary)
tax = 0.1 * gross_salary

# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

# Display the Gross Salary, Tax, and Net Salary
print(f"Gross Salary: {gross_salary:.2f}")
print(f"Tax: {tax:.2f}")
print(f"Net Salary: {net_salary:.2f}")

Enter Basic Salary: 444444
Enter HRA: 15
Enter TA: 2652
Enter DA: 525
Gross Salary: 447636.0
Tax: 44763.60
Net Salary: 402872.40

In [9]:
# 3. Write a python program to search for a string in the given list.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

search_string = "cherry"

# Check if the search_string is in the list
if search_string in my_list:
    print(f"'{search_string}' is found in the list.")
else:
    print(f"'{search_string}' is not found in the list.")

'cherry' is found in the list.

In [24]:
# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.
 
def counting(string):
# Initialize counters for uppercase and lowercase letters
    ucase_count = 0
    lcase_count = 0

# Iterate through each character in the input string
    for c in string:
        # Check if the character is an uppercase letter
        if c.isupper():
            ucase_count += 1
        # Check if the character is a lowercase letter
        elif c.islower():
            lcase_count += 1

    return ucase_count, lcase_count

# Main Function:
input_str = input("Enter Your String:" )
ucase_count, lcase_count = counting(input_str)

print(f"Uppercase letters: {ucase_count}")
print(f"Lowercase letters: {lcase_count}")

Enter Your String:Abhisek Das
Uppercase letters: 2
Lowercase letters: 8

In [23]:
# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

# Initialize variables to store the sums
sum_odd = 0
sum_even = 0

# Loop through numbers from 12 to 37
for number in range(12, 38): 
    # Check if the number is odd or even
    if number % 2 != 0:
        sum_odd += number  # Add odd number to the sum_odd variable
    else:
        sum_even += number  # Add even number to the sum_even variable

# Display the sums
print("Sum of odd numbers:", sum_odd)
print("Sum of even numbers:", sum_even)

Sum of odd numbers: 325
Sum of even numbers: 312

In [1]:
# 6. Write a python Program to print the table of any number.

no =int(input("Enter a no: "))
for i in range (1,11):
    print(f"|{no} * {i}  |:",no*i)

Enter a no: 5
|5 * 1  |: 5
|5 * 2  |: 10
|5 * 3  |: 15
|5 * 4  |: 20
|5 * 5  |: 25
|5 * 6  |: 30
|5 * 7  |: 35
|5 * 8  |: 40
|5 * 9  |: 45
|5 * 10  |: 50

In [2]:
# 7. Write a Python program to sum the first 10 prime numbers.

N = 10
prime_nos = []
sum=0

num = 2
while len(prime_nos) < N:
    is_prime = True
    for i in range(2, int(num**(1/2)) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_nos.append(num)
        sum+=num
    num += 1

print(f"The first {N} prime numbers are: {prime_nos}")
print("sum the first 10 prime numbers is : ",sum)

The first 10 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
sum the first 10 prime numbers is :  129

In [ ]:
# 8. Write a python program to implement arithmetic operations using nested if statement. 

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+ for addition, - for subtraction, * for multiplication, / for division): ")

# Perform arithmetic operations based on user input
if operation == '+':
    result = num1 + num2
    print("Result:", result)
elif operation == '-':
    result = num1 - num2
    print("Result:", result)
elif operation == '*':
    result = num1 * num2
    print("Result:", result)
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
        print("Result:", result)
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Invalid operation.")

In [2]:
# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit. 

TempC = int(input("Enter The Temperature Value in Celcius: "))
TempF = (TempC * 9/5) + 32 
print(f"Temperature {TempC} deg celsius is equals to {TempF} deg Fahrenheit")

Enter The Temperature Value in Celcius: 45
Temperature 45 deg celsius is equals to 113.0 deg Fahrenheit

In [16]:
# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function. 

lnum=[3,4,5,1,2,8,7,6]
minnum = maxnum=lnum[0]

for i in lnum:
    if i > maxnum:
        maxnum = i
    elif i< minnum:
        minnum = i

print("Maximum No in list: ",maxnum)
print("Minimum No in list: ",minnum)

Maximum No in list:  8
Minimum No in list:  1

In [19]:
# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

days=int(input("Enter No of days: "))
hour=24
minute=60
sec=60
totalsec= days * hour * minute * sec

print(f"{days} days month have: {totalsec} seconds. ")

Enter No of days: 30
30 days month have: 2592000 seconds.

In [26]:
# 12. Write a program in python to print out the number of seconds in a year.

year = int(input("Enter Your Year: "))
DaysN = 365
DaysL = 366

hour=24
minute=60
sec=60

if year % 4 != 0:
    totalsec= DaysN * hour * minute * sec
else:
    totalsec= DaysL * hour * minute * sec
        
print(f"{year} year have: {totalsec} seconds")

Enter Your Year: 2021
2021 year have: 31536000 seconds

In [28]:
# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away? 

distance = 414  # miles
speed = 150     # mph

# Calculate the time in hours
time_hours = (distance / speed)

# Print the result
print("It will take", time_hours, "hours to travel from London to Glasgow.")

It will take 2.76 hours to travel from London to Glasgow.

In [29]:
# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. 
"""The program should then print out the total hours that you spend in school from year 7 to year 11, 
if each day you spend 6 hours in school days_in_each_school_year = 192 """

# Define the number of school days in each school year
days_in_each_school_year = 192
each_day_spend =6

total_hours_spend_in_school = 0
for year in range(7, 12):
    total_hours_spend_in_school += year * days_in_each_school_year * each_day_spend

print("Total hours spent in school from year 7 to year 11:", total_hours_spend_in_school)

Total hours spent in school from year 7 to year 11: 51840

In [30]:
# 15. If the age of Ram,Sam and Khan are input through the keyboard,
# write a python program to determine the eldest and youngest of the three. 

Ram_age = int(input("Enter the age of Ram: "))
Sam_age = int(input("Enter the age of Sam: "))
Khan_age = int(input("Enter the age of Khan: "))

# Assume Ram is the eldest and youngest initially
eldest = "Ram"
youngest = "Ram"

# Compare ages to find the eldest and youngest
if Sam_age > Ram_age:
    eldest = "Sam"
    youngest = "Ram"

if Khan_age > Sam_age:
    eldest = "Khan"
    youngest = "Sam"

if Khan_age > Ram_age:
    youngest = "Ram"

print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter the age of Ram: 10
Enter the age of Sam: 115
Enter the age of Khan: 50
The eldest among Ram, Sam, and Khan is Sam.
The youngest among Ram, Sam, and Khan is Ram.

In [45]:
# 16. Write a python program to rotate a list by right n times with and without slicing technique.


my_list = [1, 2, 3, 4, 5]
n = 6 # Number of rotations

# Ensure n is within the range of the list length
n = n % len(my_list)

# Rotate the list without using functions
rotated_list = [0] * len(my_list)
for i in range(len(my_list)):
    rotated_list[(i + n) % len(my_list)] = my_list[i]

print("Rotated list without Slicing functions:", rotated_list)

Rotated list without Slicing functions: [5, 1, 2, 3, 4]

# Python Programs to print the pattern

In [ ]:
# 1)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

In [61]:
n =int(input("Enter the number of rows: "))

# Initialize the first row
row = [1]
print(row)  # this is the 1st row

# Generate and print the remaining rows
for i in range(n):
    new_row = [1]  # this is applicable for all rows , starts with 1 
    
    for i in range(1, len(row)):
        new_row.append(row[i - 1] + row[i]) # calcuating the middle elements
        
    new_row.append(1) # this is applicable for all rows , ends with 1 
    row=new_row  # 
    print(row)

Enter the number of rows: 5
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

2)

*
* *
* * *
* * * *
* * * * *

In [69]:
n =int(input("Enter the number of rows: "))

# Loop through each row
for i in range(1, n + 1):
    # Printing '*' character 'i' times in the current row
    for j in range(i):
        print('*', end=' ')
    # next line to start a new row
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

3)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [74]:
n =int(input("Enter the number of rows: "))


# Loop through each row
for i in range(1, n + 1):
    # Print spaces for padding
    for j in range(n - i):
        print(end=' ')
    
    # Print '*' character 'i' times in the current row
    for j in range(i):
        print('*', end=' ')
    
    # Move to the next line to start a new row
    print()

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

4) 

P
Py
Pyt
Pyth
Pytho
Python

In [80]:
my_str = "Python"

for i in range(len(my_str)):
    print(word[:i+1])

P
Py
Pyt
Pyth
Pytho
Python